:root {
  --main-color: black;
  --font-color: white;
}

body {
  font-family: "Helvetica Neue", helvetica, sans-serif;
  background-color: var(--main-color);
}

header {
  color: var(--font-color);
  margin: 10px 30px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail-container {
  margin: 5px;
}

.overlay {
  background-color: black;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  background: url('images/Patreon_logomark.svg');
  width: 100px;
  height: 100px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
