:root {
  --main-color: black;
  --font-color: white;
  --arrow-size: 50px;
}

body {
  font-family: "Helvetica Neue", helvetica, sans-serif;
  background-color: var(--main-color);
}

header {
  color: var(--font-color);
  margin: 10px 30px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail-container {
  margin: 5px;
}

.spinner {
  background: url('images/Patreon_logomark.svg');
  width: 100px;
  height: 100px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.overlay {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.arrow {
  padding: 10px;
  height: 50px;
  width: 50px;
}

.left-arrow {
  background: url('images/left_arrow.svg') no-repeat;
}

.right-arrow {
  background: url('images/right_arrow.svg') no-repeat;
}

.feature-container {
  opacity: 1;
}
