:root {
  --main-color:
}

body {
  font-family: "Helvetica Neue", helvetica, sans-serif;
  background-color: black;
}

header {
  color: white;
  margin: 10px 30px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100vw;
}

.thumbnail-container {
  margin: 5px;
}

.spinner {
  background: url('images/Patreon_logomark.svg');
  width: 100px;
  height: 100px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
